SERVER_PORT=8083

DB_URL=jdbc:sqlserver://localhost:1433;databaseName=citas_db;encrypt=true;trustServerCertificate=true
DB_USERNAME=
DB_PASSWORD=

CLIENTES_VEHICULOS_SERVICE_URL=http://localhost:8082

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

KAFKA_BOOTSTRAP_SERVERS=localhost:9092