SERVER_PORT=8081

DB_URL=jdbc:mysql://localhost:3306/usuariosTaller_db
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_SECONDS=1800

SEED_ADMIN_PASSWORD=
SEED_RECEPCION_PASSWORD=
SEED_MECANICO_PASSWORD=
SEED_FACTURACION_PASSWORD=