SERVER_PORT=8080

JWT_SECRET=

USUARIOS_SERVICE_URL=http://localhost:8081
CLIENTES_VEHICULOS_SERVICE_URL=http://localhost:8082
CITAS_SERVICE_URL=http://localhost:8083
ORDENES_SERVICE_URL=http://localhost:8084
INVENTARIO_SERVICE_URL=http://localhost:8085
FACTURACION_SERVICE_URL=http://localhost:8086
NOTIFICACIONES_SERVICE_URL=http://localhost:8087
HISTORIAL_SERVICE_URL=http://localhost:8088