JWT_SECRET=AutoService2026SuperSecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLong!!
JWT_EXPIRATION_SECONDS=1800
ADMIN_PASSWORD=admin123
RECEPCION_PASSWORD=recepcion123
MECANICO_PASSWORD=mecanico123
FACTURACION_PASSWORD=facturacion123
