JWT_SECRET=coloque_aqui_su_jwt_secret
JWT_EXPIRATION_SECONDS=1800
ADMIN_PASSWORD=coloque_aqui_password_admin
RECEPCION_PASSWORD=coloque_aqui_password_recepcion
MECANICO_PASSWORD=coloque_aqui_password_mecanico
FACTURACION_PASSWORD=coloque_aqui_password_facturacion