SERVER_PORT=8087

DB_URL=jdbc:sqlserver://localhost:1433;databaseName=notificaciones_db;encrypt=true;trustServerCertificate=true
DB_USERNAME=
DB_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest