SERVER_PORT=8084

DB_URL=jdbc:sqlserver://localhost:1433;databaseName=ordenes_db;encrypt=true;trustServerCertificate=true
DB_USERNAME=
DB_PASSWORD=

CLIENTES_VEHICULOS_SERVICE_URL=http://localhost:8082
INVENTARIO_SERVICE_URL=http://localhost:8085
USUARIOS_SERVICE_URL=http://localhost:8081

KAFKA_BOOTSTRAP_SERVERS=localhost:9092